<div class="main-contents">
  <div class="official-hashtag">
    <div class="official-tweets-timeline">
      <% @rewards.each do |tweet| %>
        <%= link_to tweet[:tweet_link] do %>
          <div class="official-tweet-cards">
            <div class="tweet-header">
              <%= image_tag tweet[:image], class: "official-tweet-user-image" %>
              <span class="official-tweet-username"><%= tweet[:name] %></span>
              <span class="official-tweet-user-screen_name">@<%= tweet[:screen_name] %></span>
              <div><%= image_tag "twitter_logo.png", class: "official-twitter-image" %></div>
            </div>
            <p class="tweet-content"><%= simple_format tweet[:text] %></p>
            <p class="tweet-time"><%= tweet[:create] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="tweeted-by">Tweeted by 美少女戦士ご褒美仮面</p>
    <div class="chara-image">
      <%= image_tag "taiyogohoubi.png", class: "tukikawa-image" %>
    </div>
  </div>
  <div id="hashtag">
    <div class="tweets-timeline">
      <% @data.each do |tweet| %>
        <%= link_to tweet[:tweet_link] do %>
          <div class="tweet-cards">
            <div class="tweet-header">
              <%= image_tag tweet[:image], class: "tweet-user-image" %>
              <span class="tweet-username"><%= tweet[:name] %></span>
              <span class="tweet-user-screen_name">@<%= tweet[:screen_name] %></span>
              <div><%= image_tag "twitter_logo.png", class: "twitter-image" %></div>
            </div>
            <p class="tweet-content"><%= simple_format tweet[:text] %></p>
            <p class="tweet-time"><%= tweet[:create] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="tweeted-by"><%= "Tweeted by #{current_user.name}" %></p>
  </div>
  <div class="official-hashtag">
    <div class="official-tweets-timeline">
      <% @punishments.each do |tweet| %>
        <%= link_to tweet[:tweet_link] do %>
          <div class="official-tweet-cards">
            <div class="tweet-header">
              <%= image_tag tweet[:image], class: "official-tweet-user-image" %>
              <span class="official-tweet-username"><%= tweet[:name] %></span>
              <span class="official-tweet-user-screen_name">@<%= tweet[:screen_name] %></span>
              <div><%= image_tag "twitter_logo.png", class: "official-twitter-image" %></div>
            </div>
            <p class="tweet-content"><%= simple_format tweet[:text] %></p>
            <p class="tweet-time"><%= tweet[:create] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="tweeted-by">Tweeted by 美少女戦士お仕置き仮面</p>
    <div class="chara-image">
      <%= image_tag "tukikawaoshioki.png", class: "tukikawa-image" %>
    </div>
  </div>
</div>